@model GeneralViewModel

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contact Us</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Contact Area =================-->
<section class="contact_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center mb-20">Add A New Article</h1>
                <form action="Save" method="post" enctype="multipart/form-data">
                    <div class="mt-10">
                        <input type="text" name="NameSurname" placeholder="First Name and Surname" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name and Surname'" required="" class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required="" class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="Phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="Title" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'" required="" class="single-input">
                    </div>
                    <div class="mt-10">
                        <select name="CategoryId" required class="form-control">
                            <option value="">Please select a catagory</option>
                            @foreach (var category in Model.CategoryList)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="mt-10">
                        <select name="CityId" required class="form-control">
                            <option value="">Please select a City</option>
                        </select>
                    </div>
                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Content" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Content'" required=""></textarea>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->
