@model string;

<div class="containter">
    <div class="alert">
        <div class="alert-danger">
            @Model
            <br />
            <a href="javascript:history.go(-1)" class="btn btn-default">Go Back</a>
        </div>
    </div>
</div>